.sidebar{
    /* background-image: linear-gradient(40deg, #19d3ae,#0fcfec); */
    background-image:linear-gradient(-90deg,#d38312,#a83279);
    position: fixed;
    
}
.sidebar li{
    margin-bottom: 2em;
}
.sidebar li:hover span{
    display: inline-block;
    transform: translate(5px);
}
.sidebar svg{
    margin-right: 5px;
}
@media screen and (max-width: 500px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 300px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
